.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.today-weather_card {
    margin-top: 2vh;
    padding: 0 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.today-date {
    margin-top: 0.5em;
}

.today-weather_info {
    display: flex;
    flex-direction: row;
}

.today-weather_image {
    margin-left: 1em;
}
