.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.weather-card {
    margin-top: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin-top: 1rem;
}

.app-link {
    text-decoration: none;
}