.fivedays-weather_card {
    margin: 2vh;
    width: 80%;
    padding: 1vh 1vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.day-weather_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.day-weather_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h6 {
    padding: 0.5em
}
