.history-card_wrapper {
    margin: 2vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.history-card {
    padding: 1em;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.history-name {
    display: flex;
    flex-direction: row;
}

.fa {
    margin-left: 1em;
    margin-block-end: 0.5em;
}